extends component/_layout

block title
  title Clip


block container

  .container.col-lg-12

    section
      h2 セクションタイトル
      .content
        p.col-xs-3.text-center OKK
        p.col-xs-3.text-center OKK
        p.col-xs-3.text-center OKK
        p.col-xs-3.text-center OKK