extends component/_layout

block title
  title Clip


block container

    section#top
      .container
        img.responsive-img(src="/header_bg.jpg", alt="")
    section#news
      .container
        .row.section-border
          .col.s6
            h2 タイトル
            dl.row
              dt.news-time.col.s4
                time 2032/33/332
              dd.col.s8 テキストが入ります
              dt.news-time.col.s4
                time 2032/33/332
              dd.col.s8 テキストが入ります
              dt.news-time.col.s4
                time 2032/33/332
              dd.col.s8 テキストが入ります
              dt.news-time.col.s4
                time 2032/33/332
              dd.col.s8 テキストが入ります
              dt.news-time.col.s4
                time 2032/33/332
              dd.col.s8 テキストが入ります
          .col.s6.row
            .col.s6
              img.responsive-img(src="/header_bg.jpg", alt="")
            .col.s6
              img.responsive-img(src="/header_bg.jpg", alt="")

    section#userVoice
      .container
        .row.section-border
          h2 タイトル
          .row
            .col.m3.s6
              figure
                img.responsive-img(src="/header_bg.jpg", alt="")
                figcaption
                  p テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            .col.m3.s6
              figure
                img.responsive-img(src="/header_bg.jpg", alt="")
                figcaption
                  p テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            .col.m3.s6
              figure
                img.responsive-img(src="/header_bg.jpg", alt="")
                figcaption
                  p テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            .col.m3.s6
              figure
                img.responsive-img(src="/header_bg.jpg", alt="")
                figcaption
                  p テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
    section#message
      .container
        h2 タイトル
        .row.mt-30
          .col.s4
            h3 テキスト
            p テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
          .col.s4
            h3 テキスト
            p テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
          .col.s4
            h3 テキスト
            p テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
    section#consultant
      .container
        .row
          .col.s6
            h2 タイトル
            p.
              テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
              テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
              テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            a.btn(href="#") 詳しく見る
          .col.s6.row
            img.responsive-img(src="/header_bg.jpg", alt="")
            .col.s4
              img.responsive-img(src="/header_bg.jpg", alt="")
            .col.s4
              img.responsive-img(src="/header_bg.jpg", alt="")
            .col.s4
              img.responsive-img(src="/header_bg.jpg", alt="")
