footer.mdl-color-text--white
  .mdl-grid
    .mdl-cell.mdl-cell--12-col.mdl-cell--8-col-table.mdl-cell--4-col-phone
      //h3.logo AIRPOST
      img.logo(src='/image/footer/logo.png')
    .mdl-cell.mdl-cell--2-col.mdl-cell--6-col-table.mdl-cell--4-col-phone
      a(href='#') LINK
      a(href='#') LINK
    .mdl-cell.mdl-cell--2-col.mdl-cell--6-col-table.mdl-cell--4-col-phone
      a(href='#') LINK
      a(href='#') LINK
    .mdl-cell.mdl-cell--3-col.mdl-cell--8-col-table.mdl-cell--4-col-phone.mdl-typography--text-center
      //h3.logo-argo ARGO
      img.logo(src='/image/footer/logo_argo.png')
    .mdl-cell.mdl-cell--4-col

    .mdl-cell.mdl-cell--4-col.mdl-cell--8-col-table.mdl-cell--4-col-phone
      nav.mdl-navigation
        a.mdl-navigation__link(href='/privacy_policy/') PRIVACY POLICY
        a.mdl-navigation__link(href='/terms/') TERMS AND CONDITIONS
    .mdl-cell.mdl-cell--3-col.mdl-cell--8-col-table.mdl-cell--4-col-phone.mdl-typography--text-center
      small.copy-right 2016 ALL RIGHTS RESERVED