footer
  aside.footer-information
    .container
      .row
        .col.s4
          h4 サイトマップ
          ul.site-map-list.row
            li.col.m6.s12
              a(href="#") リンク
            li.col.m6.s12
              a(href="#") リンク
            li.col.m6.s12
              a(href="#") リンク
            li.col.m6.s12
              a(href="#") リンク
            li.col.m6.s12
              a(href="#") リンク
            li.col.m6.s12
              a(href="#") リンク
            li.col.m6.s12
              a(href="#") リンク
            li.col.m6.s12
              a(href="#") リンク
            li.col.m6.s12
              a(href="#") リンク
            li.col.m6.s12
              a(href="#") リンク
            li.col.m6.s12
              a(href="#") リンク
        .col.s4
          p.
            テキストが入ります。テキストが入ります。テキストが入ります。
            テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            テキストが入ります。テキストが入ります。テキストが入ります。
        .col.s4
          dl
            dt TEL
            dd :090-9090-9090
            dt FAX
            dd :090-09090-90
            dt 営業時間
            dd :09:00~17:30<br>(土日祝日も営業)
            dt メールアドレス
            dd example@rmail.com
  h2.center-align Logo
  .copyright
    .container.center-align
      small copyright