header
  .header-top
    .container
      h1 hogehoge


  .container.top-information
    h1.top-logo
      a.sitelogo-link(href='#') Logo
  nav
    .container
      ul.global-nav-list
        li
          a(href='sass.html') リンク
        li
          a(href='badges.html') リンク
        li
          a(href='collapsible.html') リンク
        li
          a(href='collapsible.html') リンク
        li
          a(href='collapsible.html') リンク
        li
          a(href='collapsible.html') リンク