doctype html
html(lang="ja")

  block head
    head
      block title

      block meta
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width")
        meta(name="format-detection", content="telephone=no")
        //- link(rel="shortcut icon", href="favicon.ico")

      block viewport
        meta(name='viewport',content='width=1280,initial-scale=1,user-scalable=no')


      //- load common assets
      link(rel='stylesheet', href='common.css')
      script(src='lib.js')


      block pageCSS
        // build:css style.css
        link(rel='stylesheet', href='index.css')
        // endbuild

  body
    //- ヘッダー
    block header
      include _header

    block container

    //- フッター
    block footer
      include _header

    block pageJS
      // build:js script.min.js
      script(src='index.js')
      // endbuild

