@import "compass/css3"
@import 'modules/color'
@import 'components/header'
@import 'components/footer'


body
  font-family: "ff-tisa-web-pro",serif

h1, h2, h3, h4, h5, h6, footer
  font-family: "azo-sans-web",serif

.mdl-grid
  max-width: 1140px

footer
  padding: 30px
  background-color: #2B2B2B

.mdl-layout__header
  padding: 28px 0

nav
  background: none
  
img
  max-width: 100%